# Linux line endings, force GH language detection
* text=auto eol=lf linguist-detectable

# These don't feel like mine
.github/** text=auto -linguist-detectable
_includes/** text=auto -linguist-detectable

# Unnecessary for statistics
Gemfile text linguist-vendored
Gemfile.lock text linguist-generated
