<head>
  <meta charset="utf-8">
  <meta name="robots" content="{{ page.robots }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!---->
  {%- seo -%}
  <!---->
  <meta name="referrer" content="no-referrer">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta http-equiv="x-dns-prefetch-control" content="off">
  <link rel="stylesheet prefetch" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="icon prefetch" href="{{site.icon}}">
  <link rel="me prefetch" href="{{ site.url }}">
  <link rel="me" href="https://aminda.eu">
  <link rel="prefetch" href="https://prefetch.validatorsearch.verisignlabs.com">
  <link rel="me" type="application/activity+json" href="https://sauna.social/users/aminda">
  <link rel="me" type="application/activity+json" href="https://mastodon.pirateparty.be/users/MikaelaPPFI">
  <link rel="me" href="https://keyoxide.org/aspe:keyoxide.org:LGWNUB7QG4M326FXXBH5Z6PLVY">
  <link rel="me" href="https://linkedin.com/in/{{site.linkedin_username}}">
  <script>
  MathJax = {
    tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
  };
  </script>
  <script rel="prefetch" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
