---
# front-matter
---

:root {
  box-sizing: border-box;
  color-scheme: dark light;
  font-family: "Liberation Serif", "Tinos", "Times New Roman", serif;
  margin: auto;
  line-height: 1.2;
  //letter-spacing: 0.5px;
  // A4 paper
  max-width: 210mm;
}

a {
  text-decoration: underline;
}

pre,
code {
  font-family: "Liberation Mono", "Cousine", "Courier New", monospace;
  // rem, root element, em, current element
  font-size: 0.8em;
}
