---
# front-matter
---

@charset "utf-8";

// Apparently my Android understands system-ui, but not ui-serif, so for the
// best experience, I will permit fallback, even if it will be sans-serif.
// I imagine it's a small minority and most users will get either ui-serif
// or fallback further down the fallback list, perhaps all the way to serif.
$base-font-family: ui-serif, system-ui, "Liberation Serif", Tinos,
  "Times New Roman", serif;
$monospace-font-family: ui-monospace, "Liberation Mono", Cousine,
  "Courier New", monospace;

@import "{{ site.theme }}";

:root {
  color-scheme: dark light !important;
}

* {
  //  box-sizing: border-box !important;
  color: revert !important;
  background-color: revert !important;
  //margin: auto  !important;
  //  line-height: 1.2 !important;
  // A4 paper
  //max-width: 210mm !important;
  font-size: revert;
  //padding: auto !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;
}

a {
  text-decoration: underline !important;
}

pre,
code {
  font-size: 0.8em !important;
}

img {
  border-radius: 50% !important;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  @media (min-width: 395px) {
    display: float !important;
    float: right !important;
  }
}

// Customize the dark theme to be more me
@media (prefers-color-scheme: dark) {
  * {
    color: #ffb700 !important;
    border-color: #ffb700 !important;
    background-color: #000000 !important;
  }

  .site-nav {
    color-scheme: only dark !important;
    color: #ffb700 !important;
    background-color: #000000 !important;
    color: #ffb700 !important;
  }

  // I don't want links to be restored to amber'
  a {
    color: revert !important;
  }
}
