---
# front-matter
---

@charset "utf-8";

@import "{{ site.theme }}";

:root {
  color-scheme: dark light !important;
}

* {
  //  box-sizing: border-box !important;
  color: revert !important;
  background-color: revert !important;
  font-family: "Liberation Serif", "Tinos", "Times New Roman", serif !important;
  //margin: auto  !important;
  //  line-height: 1.2 !important;
  // A4 paper
  max-width: 210mm !important;
  font-size: revert;
  //padding: auto !important;
  overflow-wrap: break-word !important;
  hyphens: auto !important;
}

a {
  text-decoration: underline !important;
}

pre,
code {
  font-family: "Liberation Mono", "Cousine", "Courier New", monospace !important;
  font-size: 0.8em !important;
}

img {
  border-radius: 50% !important;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  @media (min-width: 395px) {
    display: float !important;
    float: right !important;
  }
}

// Customize the dark theme to be more me
@media (prefers-color-scheme: dark) {
  * {
    color: #ffb700 !important;
    border-color: #ffb700 !important;
    background-color: #000000 !important;
  }

  .site-nav {
    color-scheme: only dark !important;
    color: #ffb700 !important;
    background-color: #000000 !important;
    color: #ffb700 !important;
  }

  // I don't want links to be restored to amber'
  a {
    color: revert !important;
  }
}
